.main-container {
  margin: 4rem;
}

.extension-bar {
  display: flex;
  justify-content: space-between;
}

.extension-toggles {
  display: flex;
  justify-content: space-between;
}

body.dark-mode {
  background: linear-gradient(to bottom, #040A1F, #060C27, #070F2F);
  color: white;
}

body.light-mode {
  background: linear-gradient(to bottom, #ecf3fd, #eef8fa, #eefafa);
}